.fa-solid {
    color: #7E7E7E;
}

.fa-store {
    color: #9356DC;
}

.functioning {
    @include display-secondary;

    margin: 10px 0px 40px 0px;
    
    h2 {
        margin: 30px 20px 30px -50px;
    }

    ul {
        display: flex;
        flex-direction: column;
        
        li {
            width: 100%;
            max-width: 200px;
            margin-bottom: 20px;
            padding: 20px 70px 20px 0px;
            background-color: $background-main-color;
            border-radius: 15px;
            box-shadow: $secondary-shadow-box 0px 5px 15px 0px;
            font-size: 13px;

            span {
                margin-right: 10px;
                background-color: $main-color;
                color: $footer-text-color;
                font-size: 10px;
                border-radius: 30px;
                padding: 3px 7px 3px 7px;
                margin-left: -8px;
            }

            i {
                margin-right: 10px;
                align-items: center;
            }
        }
    }
}

.restaurants {
    @include display-main;
}

.fa-handshake-angle {
    margin-right: 5px;
}

.fa-handshake-angle,
.fa-utensils {
    color: $footer-text-color;
}


