body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: #000;
}


p,
h2,
h3,
li,
a,
span {
    font-family: $secondary-font;
}

body > header {
    @each $property, $value in $headercenter {
        #{$property}: $value;
    }

    h1 {
        text-align: center;
        margin: 0px;
        padding-top: 15px;
        font-family: $main-font;
        font-size: 25px;
    }
}

form {
    @include disalicent;
    margin: 0px;
    padding: 15px;
    background-color: #EAEAEA;
    
    i {
        color: #353535;
    }

    input {
        border: none;
        background-color: #EAEAEA;
        width: 120px;
        padding-left: 10px;
        color: #353535;
        font-weight: 600;
    }
}

main > header {
    text-align: center;
    background-color: #F6F6F6;
    padding-top: 10px;
    height: 260px;

    h2 {
        margin: 30px 20px 20px 20px;
    }

    p {
        margin: 0px 20px 40px 20px;
        font-weight: 100;
        color: $footer-color;
    }

    a {
        @include btn-design;
    }
}

article {
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    padding: 30px 15px 30px 15px;
    
    h2 {
        font-size: 20px;
    }

    ul {
        @include disalicent; 
            
        img {
            width: 450px;
            height: 160px;
        }
    }
}

footer {
    background-color: #353535;
    color: white;
    padding: 20px;

    h3 {
        margin: 0px 0px 15px 0px;
        font-family: Shrikhand, cursive;
        font-weight: 100;
        font-size: 14px;
    }

    li {
        margin-bottom: 5px;

        a {
            color: white;
            font-size: 14px;

            i {
                margin-right: 10px;
            }
        }
    }
}
