$main-color: #9356DC;
$secondary-color: #FF79DA; 
$tertiary-color: #99E2D0;
$figcation-color: #EAEAEA;
$background-main-color: #F6F6F6;
$footer-color: #353535;


$main-text-color: black;
$footer-text-color: white;

